{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="{% static 'decktracker/style.css' %}">
    <title>{% block title %}{% endblock %}</title>

    {% block extra_head %}{% endblock %}
</head>

<body>
    <nav class="m-small">
        <ul>
            <li><strong>
                <a href="/decktracker/">Home</a>
            </strong></li>
        </ul>
        {% if authenticated %}
        <ul>
            <li><a href="#">My Decks</a></li>
            <li><a href="#">My Cards</a></li>
            <li><a href="/decktracker/user/logout">Logout</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="/decktracker/user/login">Login</a></li>
            <li><a href="/decktracker/user/register">Register</a></li>
        </ul>
        {% endif %}
    </nav>
    <div id="content" class="m-small">{% block content %}{% endblock %}</div>
    <div id="footer" class="m-small">
        {% block footer %}
        &copy; Copyright 2024 by Tracking Deck App
        {% endblock %}
    </div>
</body>

</html>